<?xml version="1.0"?>
<launch>

  <!-- Customization -->
  <arg name="source"        default="gazebo"              doc="Source of data [gazebo/robot/record]" />
  <arg name="model"         default="0D"                  doc="Model to use [0D/1D/2D/2Db/2Dc]" />
  <arg name="friction"      default="false"               doc="Use model with friction" />
  <arg name="type"          default="test"                doc="Type of controller [test/simple/external/python]" />
  <arg name="acceleration"  default="true"                doc="Use acceleration controller" />
  <arg name="paused"        default="false"               doc="Should the simulation directly be stopped at 0s?" />
  
  <arg name="gui"           default="true"                doc="Should the gazebo GUI be launched?" />
  <arg name="plotter"       default="true"                doc="Should plotter be launched?" />
  <arg name="rviz"          default="false"               doc="Should RVIZ be launched?" />
  <arg name="resetter"      default="false"               doc="Should resetter be launched?" />
  <arg name="logger"        default="false"               doc="Should logger be launched?" />
  <arg name="recorder"      default="false"               doc="Should recorder (rosbag) be launched?" />

  <arg name="namespace"  	  default="franka_pole"         doc="Namespace of parameters and topics" />
  <arg name="log_name"  	  default="log"                 doc="Name of the log file" />
  <arg name="record_name"   default="log"                 doc="Name of the the record (.bag) file" />
  <arg name="arm_id"  	    default="panda"               doc="Name of the arm" />
  <arg name="arm_ip"        default="192.168.0.1"         doc="IP address of the arm"/>
  <arg name="vicon_ip"      default="134.130.192.68:801"  doc="IP address of the VICON system"/>

  <!-- Load parameters -->
  <arg name="simulated" value="$(eval arg('source') == 'gazebo')" />
  <rosparam file="$(find franka_pole)/config/parameters.yaml" subst_value="true" />
  <rosparam file="$(find franka_pole)/config/override/robot.yaml" subst_value="true" if="$(eval arg('source') == 'robot')"/>
  <rosparam file="$(find franka_pole)/config/override/test+gazebo.yaml" subst_value="true" if="$(eval arg('type') == 'test' and arg('source') == 'gazebo')"/>
  <rosparam file="$(find franka_pole)/config/override/0D.yaml" subst_value="true" if="$(eval arg('model') == '0D')"/>
  <rosparam file="$(find franka_pole)/config/override/1D.yaml" subst_value="true" if="$(eval arg('model') == '1D')"/>
  <rosparam file="$(find franka_pole)/config/override/2D.yaml" subst_value="true" if="$(eval arg('model') == '2D')"/>
  <rosparam file="$(find franka_pole)/config/override/2Db.yaml" subst_value="true" if="$(eval arg('model') == '2Db')"/>
  <rosparam file="$(find franka_pole)/config/override/2Dc.yaml" subst_value="true" if="$(eval arg('model') == '2Dc')"/>
  <rosparam file="$(find franka_pole)/config/override/acceleration+0D.yaml" subst_value="true" if="$(eval arg('acceleration') and arg('model') == '0D')"/>
  <rosparam file="$(find franka_pole)/config/override/acceleration+1D.yaml" subst_value="true" if="$(eval arg('acceleration') and arg('model') == '1D')"/>
  <rosparam file="$(find franka_pole)/config/override/acceleration+2D.yaml" subst_value="true" if="$(eval arg('acceleration') and arg('model') == '2D')"/>
  <rosparam file="$(find franka_pole)/config/override/acceleration+2Db.yaml" subst_value="true" if="$(eval arg('acceleration') and arg('model') == '2Db')"/>
  <rosparam file="$(find franka_pole)/config/override/acceleration+2Dc.yaml" subst_value="true" if="$(eval arg('acceleration') and arg('model') == '2Dc')"/>
  <rosparam file="$(find franka_pole)/config/override/test+0D.yaml" subst_value="true" if="$(eval arg('type') == 'test' and arg('model') == '0D')"/>
  <rosparam file="$(find franka_pole)/config/override/test+1D.yaml" subst_value="true" if="$(eval arg('type') == 'test' and arg('model') == '1D')"/>
  <rosparam file="$(find franka_pole)/config/override/test+2D.yaml" subst_value="true" if="$(eval arg('type') == 'test' and arg('model') == '2D')"/>
  <rosparam file="$(find franka_pole)/config/override/test+2Db.yaml" subst_value="true" if="$(eval arg('type') == 'test' and arg('model') == '2Db')"/>
  <rosparam file="$(find franka_pole)/config/override/test+2Dc.yaml" subst_value="true" if="$(eval arg('type') == 'test' and arg('model') == '2Dc')"/>

  <!-- Load available controllers -->
  <rosparam file="$(find franka_pole)/config/franka_pole_controllers.yaml" subst_value="true" />

  <!-- Define robot model -->
  <group if="$(eval arg('model') == '0D')">
    <param name="robot_description" command="xacro $(find franka_pole)/robots/franka_pole.xacro arm_id:=$(arg arm_id)" />
  </group>
  <group if="$(eval arg('model') == '1D')">
    <param name="robot_description" command="xacro $(find franka_pole)/robots/franka_pole_1D.xacro arm_id:=$(arg arm_id)" />
  </group>
  <group if="$(eval arg('model') == '2D')">
    <param name="robot_description" command="xacro $(find franka_pole)/robots/franka_pole_2D.xacro arm_id:=$(arg arm_id)" />
  </group>
  <group if="$(eval arg('model') == '2Db')">
    <param name="robot_description" command="xacro $(find franka_pole)/robots/franka_pole_2Db.xacro arm_id:=$(arg arm_id)" />
  </group>
  <group if="$(eval arg('model') == '2Dc')">
    <param name="robot_description" command="xacro $(find franka_pole)/robots/franka_pole_2Dc.xacro arm_id:=$(arg arm_id)" />
  </group>

  <!-- Option 1: Simulation -->
  <group if="$(eval arg('source') == 'gazebo')">
    <!-- Load simulation parameters -->
    <rosparam file="$(find franka_gazebo)/config/franka_hw_sim.yaml" subst_value="true" />
    <rosparam file="$(find franka_pole)/config/franka_pole_sim.yaml" subst_value="true" />
  
    <!-- Load world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="worlds/empty.world"/>
      <arg name="paused" value="true"/>
      <arg name="use_sim_time" value="false"/>
    </include>

    <!-- Create robot -->
    <arg name="unpaused" value="$(eval '' if arg('paused') else '-unpause')" />
    <node name="$(arg namespace)_model_spawner"
     pkg="gazebo_ros"
     type="spawn_model"
     args="-param robot_description -urdf -model $(arg arm_id) $(arg unpaused)"/>

     <!-- Gripper controller -->
    <node name="$(arg namespace)_gripper_controller_spawner"
      pkg="controller_manager"
      type="spawner"
      args="franka_gripper"/>
  </group>

  <!-- Option 2: Real robot -->
  <group if="$(eval arg('source') == 'robot')">
    <node name="franka_control" pkg="franka_control" type="franka_control_node">
      <rosparam command="load" file="$(find franka_control)/config/franka_control_node.yaml" />
      <param name="robot_ip" value="$(arg arm_ip)" />
    </node>

    <include file="$(find vicon_bridge)/launch/vicon.launch" if="$(eval arg('model') == '1D' or arg('model') == '2D' or arg('model') == '2Db' or arg('model') == '2Dc')">
      <arg name="datastream_hostport" value="$(arg vicon_ip)" />
    </include>
  </group>

  <!-- Option 3: Record -->
  <group if="$(eval arg('source') == 'record')">
    <node name="$(arg namespace)_player" pkg="rosbag" type="play" args="$(find franka_pole)/temp/$(arg record_name).bag"/>
  </group>

  <group unless="$(eval arg('source') == 'record')">
    <!-- Main controller -->
    <node name="$(arg namespace)_controller_spawner"
      pkg="controller_manager"
      type="spawner"
      args="$(arg namespace)_$(arg type)_acceleration_controller"
      if="$(eval ((arg('type') == 'simple' or arg('type') == 'external' or arg('type') == 'test') and arg('acceleration')))"/>

    <node name="$(arg namespace)_controller_spawner"
      pkg="controller_manager"
      type="spawner"
      args="$(arg namespace)_$(arg type)_position_controller"
      if="$(eval ((arg('type') == 'simple' or arg('type') == 'external' or arg('type') == 'test') and not arg('acceleration')))"/>

    <node name="$(arg namespace)_controller_spawner"
      pkg="controller_manager"
      type="spawner"
      args="$(arg namespace)_external_acceleration_controller"
      if="$(eval arg('type') == 'python' and arg('acceleration'))"/>

    <node name="$(arg namespace)_controller_spawner"
      pkg="controller_manager"
      type="spawner"
      args="$(arg namespace)_external_position_controller"
      if="$(eval arg('type') == 'python' and not arg('acceleration'))"/>

    <!-- External python controllers -->
    <node name="$(arg namespace)_python_acceleration_controller" pkg="franka_pole" type="acceleration_controller.py" args="-N $(arg namespace)" if="$(eval arg('type') == 'python' and arg('acceleration'))"/>
    <node name="$(arg namespace)_python_position_controller" pkg="franka_pole" type="position_controller.py" args="-N $(arg namespace)" if="$(eval arg('type') == 'python' and not arg('acceleration'))"/>

    <!-- Recorder -->
    <node name="$(arg namespace)_recorder" pkg="rosbag" type="record" args="record /$(arg namespace)/sample /$(arg namespace)/joint_state -O $(find franka_pole)/temp/$(arg record_name)" if="$(arg recorder)"/>
  </group>

  <!-- Plotter -->
  <node name="$(arg namespace)_plotter" pkg="franka_pole" type="plotter.py" args="-N $(arg namespace)" if="$(arg plotter)"/>

  <!-- Resetter -->
  <node name="$(arg namespace)_resetter" pkg="franka_pole" type="resetter.py" args="-N $(arg namespace) -T 10" if="$(arg resetter)"/>

  <!-- Logger -->
  <node name="$(arg namespace)_logger" pkg="franka_pole" type="logger.py" args="-N $(arg namespace) -O $(find franka_pole)/temp/$(arg log_name)" if="$(arg logger)"/>

  <!-- RVIZ -->
  <group if="$(arg rviz)">
    <node name="$(arg namespace)_rviz" pkg="rviz" type="rviz" args="-d $(find franka_example_controllers)/launch/robot.rviz" if="$(eval arg('arm_id') == 'panda')"/>
    <node name="$(arg namespace)_rviz" pkg="franka_pole" type="rviz.sh"  args="$(arg arm_id)" if="$(eval arg('arm_id') != 'panda')"/>
    <node name="$(arg namespace)_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="$(arg namespace)_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <rosparam param="source_list" subst_value="True">[$(arg namespace)/joint_state]</rosparam>
      <param name="rate" value="100"/>
    </node>
  </group>
</launch>